* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

main {
    height: 400px;
    width: 930px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    gap: 50px;
}

.modsPanel {
    height: 400px;
    width: 200px;
    border: 2px solid black;
    opacity: 0;
    font-size: 28px;
}

.modsPanel p {
    padding: 5px;
}


main #playButton {
    align-self: center;
}

input {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
}

.damage {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

.tuple_damage {
    display: flex;
    align-items: center;
    gap: 5px;
}

.column p {
    font-size: 36px;
}

.tuple img {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}

.output p {
    font-size: 36px;
}

#mainButton {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    cursor: pointer;
}

.modsButton:hover,
#mainButton:hover {
    background-color: #ffffff;
    transition: 0.5s;
}

.modsButton:active,
#mainButton:active {
    background-color: #d8d8d8;
    scale: 90%;
}

.tuple {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#thisTuple {
    gap: 44px;
}

.title {
    display: flex;
    padding: 10px;
    gap: 20px;
}

.title p {
    min-width: 251px;
}

.modsButton {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/pngwing.com.png');
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}
.checkbox + label {
	position: relative;
	padding: 0 0 0 60px;
	cursor: pointer;
}
.checkbox + label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 50px;
	height: 26px;
	border-radius: 13px;
	background: #CDD1DA;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	transition: .2s;
}
.checkbox + label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 22px;
	height: 22px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: .2s;
}
.checkbox:checked + label:before {
	background: #9FD468;
}
.checkbox:checked + label:after {
	left: 26px;
}
.checkbox:focus + label:before {
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
}

/*Убрать стрелочки от input type=number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}