* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    height: 400px;
    width: 800px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    gap: 50px;
}

main #playButton {
    align-self: center;
}

input {
    width: 50px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

.damage {
    width: 50px;
    height: 40px;
}

.tuple_damage {
    display: flex;
    align-items: center;
    gap: 5px;
}

.column p {
    font-size: 36px;
}

.tuple img {
    width: 40px;
    height: 40px;
}

.output p {
    font-size: 36px;
}

button {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    cursor: pointer;
}

button:hover {
    background: #ffffff;
}

button:active {
    background: #d8d8d8;
    scale: 90%;
}

.tuple {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#thisTuple {
    gap: 44px;
}